/*Universal Styles*/
:root {
  --pink: #DA258D;
  --green: #8DDA25;
  --blue: #258DDA;
  --black: #000000;
  --white: #ffffff;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  label {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: var(--blue);
    color: white;
    border-radius: 8px;
  }
  
  /* Style the container for inputs */
  .container {
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    padding: 20px;
  }

  p {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .accountLink {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blue);
    font-size: 1rem;
    text-decoration: underline;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    width: 50%;
    margin: auto;
    background: var(--white);
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: var(--green)
  }
  
  .valid:before {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: var(--pink)
  }
  
  .invalid:before {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -35px;
    content: "✖";
  }